# Keep the file sorted to minimize the risk for merge conflicts
*.lo
*.o
*~
.deps
.libs/
Makefile
Makefile.*
acinclude.m4
aclocal.m4
autom4te.cache
build/
config.guess
config.h
config.h.in
config.log
config.nice
config.status
config.sub
configure
configure.in
couchbase.la
install-sh
libtool
ltmain.sh
missing
mkinstalldirs
modules/
run-tests.php
tests/couchbase.local.inc
tests/phpt/*/*.diff
tests/phpt/*/*.exp
tests/phpt/*/*.log
tests/phpt/*/*.out
tests/phpt/*/*.php
tests/phpt/*/*.sh
