<?php
/*
  Copy this file to couchbase.local.inc and adjust the server
  settings to match your development environment
*/
define("COUCHBASE_CONFIG_HOST", "127.0.0.1:8091");
define("COUCHBASE_CONFIG_USER", "Administrator");
define("COUCHBASE_CONFIG_PASSWD", "asdasd");
define("COUCHBASE_CONFIG_BUCKET", "default");
